.history {

    font-size: 16px;

    .bitcoin-price-table {
        border: 2px solid #80808045;
    }

    .table-titles {
        background-color: #8080801c;
        grid-template-columns: repeat(5, 1fr);
        padding-inline-start: 10px;

        p {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .table-data,
    .table-titles {
        border-bottom: 2px solid #80808045;
    }

    .table-data {
        grid-template-columns: repeat(5, 1fr);
        padding-inline-start: 15px;
        padding: 10px;
    }

    @include for-mobile-layout {
        font-size: 12px;
    }
}